.test {
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}

/***************

    GENERAL

***************/

@font-face {
	font-family: 'Gotham';
	src: url('../Fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Gotham';
	src: url('../Fonts/Gotham-Bold.otf');
	font-weight: bold;
}

body {
    font-family: 'Gotham';
    font-size: 0.8em;
}

/***************

     HEADER

***************/

header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header__sign {
    margin-right: 50px;
    font-weight: bold;
}

.sign__sign-in {
    margin-left: 20px;
}

/***************

     ACCUEIL

***************/

/***************

  LIVE BATTLES

***************/

/*** TITLE ***/

.live-battles__title-block {
    width: 130px;
    height: 40px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 25px;
    border: solid 2px #761d2d;
    text-align: center;
    line-height: 40px;
}

.live-battles__title {
    color: #761d2d;
    font-size: 14px;
    font-weight: bold;
}

.live-battles__container {
    position: relative;
    width: 100%;
    height: 520px;
}

.live-battles__blocks {
    position: absolute;
    height: 100%;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
}

.live-battles__block {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: calc(100% / 5 - 10px);
    float: left;
    background-color: #ffffff;
    cursor: pointer;
}

.live-battles__block[data-block="01"], .live-battles__block[data-block="02"], .live-battles__block[data-block="03"], .live-battles__block[data-block="04"] {
    margin-right: 12px;
}

/*** LIVE BATTLES 1 V 1 ***/

/* IMAGES */

.live-battles__block .picture--bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.live-battles__block .picture--top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.live-battles__block .picture__effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(142deg, #384259, #761d2d);
    opacity: 0.38;
}

.live-battles__diagonal {
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(30.5deg);
    transform-origin: 50% 50%;
    z-index: 2;
}

/* TEXT */

.text-container {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.live-battles__name-rating--top {
    z-index: 100;
    margin-left: 10px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 16px;
}

.name-rating__rating--top {
    background-color: #384259;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
}

.live-battles__name-rating--bottom {
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 25px;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
}

.name-rating__rating--bottom {
    background-color: #64231f;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
}

.text-container__timer {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    color: #000000;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    padding: 10px 20px;
    font-size: 16px;
}

/*** LIVE BATTLES 2 V 2 ***/

/* IMAGES */

.pictures--top {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 39%, 0 62%);
    clip-path: polygon(0 0, 100% 0%, 100% 39%, 0 62%);
}

.pictures--top__first {
    position: absolute;
    top: 0;
    right: 50%;
}

.pictures--top__second {
    position: absolute;
    top: 0;
    left: 50%;
}

.live-battles__block .picture__effect--duo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(184deg, #384259, #761d2d);;
    opacity: 0.38;
}

.live-battles__diagonal--duo {
    position: absolute;
    background-color: #ffffff;
    width: 2px;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(69deg);
    transform-origin: 50% 50%;
    z-index: 2;
}

.pictures--top {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 39%, 0 61%);
    clip-path: polygon(0 0, 100% 0%, 100% 39%, 0 61%);
}

.pictures--top__first {
    position: absolute;
    top: 0;
    right: 50%;
}

.pictures--top__second {
    position: absolute;
    top: 0;
    left: 50%;
}

.pictures--bottom {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 39%, 0 61%);
    clip-path: polygon(0 100%, 100% 100%, 100% 39%, 0 61%);
}

.pictures--bottom__first {
    position: absolute;
    bottom: 0;
    right: 50%;
}

.pictures--bottom__second {
    position: absolute;
    bottom: 0;
    left: 50%;
}

/* TEXTS */

.live-battles__names-rating--top--duo {
    z-index: 100;
    margin-left: 10px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 16px;
}

.name-rating__names--top--duo02 {
    position: absolute;
    right: 10px;
    top: 25px;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
}

.name-rating__rating--top--duo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #384259;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.live-battles__names-rating--bottom--duo {
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 25px;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
}

.name-rating__rating--bottom--duo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: #64231f;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.name-rating__names--bottom--duo01 {
    position: absolute;
    left: 10px;
    bottom: 0;
}

.name-rating__names--bottom--duo02 {
    position: absolute;
    right: 10px;
    bottom: 0;
}

/***************

    PROFILE

***************/

.myprofile__title-block {
    width: 130px;
    height: 40px;
    margin-top: 75px;
    margin-left: 10px;
    margin-bottom: -25px;
    border: solid 2px #761d2d;
    text-align: center;
    line-height: 40px;
}

.myprofile__title {
    color: #761d2d;
    font-size: 14px;
    font-weight: bold;
}

.myprofile__container {
    position: relative;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 1%, 0 8%);
    clip-path: polygon(0 100%, 100% 100%, 100% 1%, 0 8%);
    background-color: #384259;
    height: 700px;
}

/*** PROFILE BLOCk ***/

.profile__block {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    height: 285px;
    width: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}

.profile__picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

.profile__coins {
    margin-top: 100px;
    font-size: 18px;
    margin-bottom: 20px;
}

.profile__name {
    font-size: 22px;
    margin-bottom: 20px;
}

.bets {
    position: absolute;
    top: 180px;
    left: 60px;
}

.bets__total {
    font-size: 22px;
    margin-top: 10px;
}

.bets__desc {
    font-family: 'Montserrat';
    font-size: 14px;
}

.won-bets {
    position: absolute;
    top: 180px;
    right: 60px;
}

.won-bets__total {
    font-size: 22px;
    margin-top: 10px;
}

.won-bets__desc {
    font-family: 'Montserrat';
    font-size: 14px;
}

.rank {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.rank__desc {
    font-family: 'Montserrat';
    font-size: 14px;
}

.rank__actual {
    font-size: 22px;
    margin-top: 10px;
}

/*** LEADERBOARD BLOCK ***/

.leaderboard-block {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    height: 285px;
    width: 350px;
    color: #ffffff;
    font-weight: normal;
}

.leaderboard__title {
    font-size: 22px;
    margin-bottom: 25px;
}

.leaderboard__won-bets {
    position: absolute;
    top: 4px;
    right: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}

/* TABLE */

.leaderboard__table td {
    vertical-align: middle;
}

.leaderboard__table__number {
    font-size: 22px;
    height: 50px;
    text-align: center;
    width: 30px;
}

.leaderboard__table__picture {
    width: 50px;
    padding-left: 7.5px;
}

.table__picture {
    width: 35px;
    height: 35px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

.leaderboard__table__name {
    font-size: 14px;
    width: 235px;
}

.leaderboard__table__won-bets {
    font-size: 22px;
}